.AutoView {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;

    & img {
        margin: 20px 0;
        width: 80%;
    }
}
