.Card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #b1171c;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #961014;
    transition: .45s ease all;

    &:hover {
        transform: translateX(5px);
    }
}
.velocidad {
    font-weight: bold;
}