.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 10%;
    
    & img {
        width: 100px;
    }

    & p{
        font-weight: bold;
    }
}